@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://online.pdp.uz/">PDP ACADEMY</a>.</p>
    <img src="https://online.pdp.uz/api/file/get/576dca90-1370-48fc-a06e-aa08f0913217" />
</div>
